@import "assets/scss/Helpers/variables.scss";
@import "assets/scss/Helpers/mixins.scss";

.trustedBy {
  .trustedByWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
      font-size: 18px;
      font-weight: 500;
      color: $c-gray-400;
      margin-right: 16px;
      display: none;
      @include res_md {
        display: block;
      }
    }
    .trustedByList {
      display: flex;
      align-items: center;
      height: 80px;
      @include res_sm {
        height: 95px;
      }
      img {
        height: 40px;
        object-fit: cover;
        object-position: center;
        margin-right: 16px;
        @include res_sm {
          height: 60px;
          margin-right: 24px;
        }
      }
    }
  }
}
