@import "assets/scss/Helpers/variables.scss";
@import "assets/scss/Helpers/mixins.scss";

.headerNavPageSmallMenu {
  .headerNavPageSmallMenuWrap {
    padding-block: 16px;
    & > a {
      margin-left: 16px;
      margin-bottom: 16px;
      padding: 10px 24px;
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      border-radius: 4px;
      @include primaryContained();
    }
  }
}
