@import "./changeVariables.scss";

// Header
$mainHeaderHeight: var(--mainHeaderHeight);

// color
$primaryColor: rgb(29, 191, 115);
$primaryColorHover: rgb(25, 164, 99);
$whiteColor: #fff;
$rattingColor: #ffb33e;

$c-gray-700: #62646a;
$c-gray-600: #74767e;
$c-gray-500: #404145;
$c-gray-400: #b5b6ba;
$c-green-200: #f1fdf7;

$c-border: #e4e5e7;
$c-box-shadow: rgba(0, 0, 0, 0.1);

$c-bg: #fafafa;

$res-sm: 600px;
$res-md: 900px;
$res-lg: 1200px;
$res-xl: 1536px;
